<section class="hero is-primary animated bounceInLeft is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <span class="">Flask-ChatBot </span>
            </h1>
            <h2 class="subtitle">
                This is a simple Chatbot trained with a few small to medium-size datasets (Messenger logs, Cornel Movie Dialogs Corpus). The backend is built with Flask. You can get the source code on my
                GitHub repository and you can also check the tutorial of both training this Chatbot and of
                depoying it.
            </h2>
            <div class="buttons">
                <a class="button is-light" href="https://github.com/MurphyAdam/langandcode">
                    <svg id="i-github" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="32" height="32">
                        <path stroke-width="0" fill="dark" d="M32 0 C14 0 0 14 0 32 0 53 19 62 22 62 24 62 24 61 24 60 L24 55 C17 57 14 53 13 50 13 50 13 49 11 47 10 46 6 44 10 44 13 44 15 48 15 48 18 52 22 51 24 50 24 48 26 46 26 46 18 45 12 42 12 31 12 27 13 24 15 22 15 22 13 18 15 13 15 13 20 13 24 17 27 15 37 15 40 17 44 13 49 13 49 13 51 20 49 22 49 22 51 24 52 27 52 31 52 42 45 45 38 46 39 47 40 49 40 52 L40 60 C40 61 40 62 42 62 45 62 64 53 64 32 64 14 50 0 32 0 Z" />
                    </svg>&nbsp;&nbsp;Github repository
                </a>
                <a class="button is-light" href="https://languageandcodex.herokuapp.com/articles/33/show">
                    <svg id="i-book" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path d="M16 7 C16 7 9 1 2 6 L2 28 C9 23 16 28 16 28 16 28 23 23 30 28 L30 6 C23 1 16 7 16 7 Z M16 7 L16 28" />
                    </svg>
                    &nbsp;&nbsp;Tutorial
                </a>
                <a class="button is-light" href="https://languageandcodex.herokuapp.com/">
                    <svg id="i-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path d="M18 8 C18 8 24 2 27 5 30 8 29 12 24 16 19 20 16 21 14 17 M14 24 C14 24 8 30 5 27 2 24 3 20 8 16 13 12 16 11 18 15" />
                    </svg>
                    &nbsp;&nbsp;My web app
                </a>
                <buttton id="btnAdd" class="button is-light">
                    <svg id="i-link2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path d="M18 8 C18 8 24 2 27 5 30 8 29 12 24 16 19 20 16 21 14 17 M14 24 C14 24 8 30 5 27 2 24 3 20 8 16 13 12 16 11 18 15" />
                    </svg>
                    &nbsp;&nbsp;Install App
                </buttton>
            </div>
            <div class="column is-one-third is-marginless">
                <div class="message is-primary">
                    <div class="message-header">
                        NOTE
                    </div>
                    <div class="message-body">
                        Before you start chatting with Adam, please notice that part of him has been trained with real converstations.
                        Meaning that profanity or curses may rise in the converstation. We are not responsible
                        for any such things.
                        You have been notified.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>